:root {
  --seconds-rotation: 0deg;
  --minutes-rotation: 0deg;
  --hours-rotation: 0deg;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Edu AU VIC WA NT Arrows', cursive;
}

.main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.digital {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 40px;
}

.analogic {
  position: relative;
  background-image: url(../assets/images/clock.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 300px;
  width: 400px;
}

.hour-a {
  position: absolute;
  left: 199px;
  top: 73px;
  height: 150px;
  width: 5px;
  background-image: linear-gradient(
    to top,
    transparent 50%,
    rgb(20, 179, 214) 50%
  );
  rotate: var(--hours-rotation);
}

.min-a {
  position: absolute;
  left: 200px;
  top: 65px;
  height: 170px;
  width: 3px;
  background-image: linear-gradient(
    to top,
    transparent 50%,
    rgb(192, 31, 192) 50%
  );
  rotate: var(--minutes-rotation);
}

.seg-a {
  position: absolute;
  left: 200px;
  top: 58px;
  height: 180px;
  width: 1px;
  background-image: linear-gradient(
    to top,
    transparent 50%,
    rgb(231, 20, 20) 50%
  );
  rotate: var(--seconds-rotation);
}

.screw {
  content: '';
  position: absolute;
  top: 142px;
  left: 193px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: linear-gradient(#e5f011, #f922b1);
}
